<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="snap">
    <insert id="insertSnap" parameterType="snap">
        INSERT INTO snaps (user_id, snap_title, coord_image, product_image, category, style, color, price)
        VALUES (#{user_id}, #{snap_title}, #{coord_image}, #{product_image}, #{category}, #{style}, #{color}, #{price})
    </insert>

    <select id="getSnapList" parameterType="map" resultType="snap">
        SELECT * FROM snaps
        <where>
            <if test="category != null and category != ''">
                AND category = #{category}
            </if>
            <if test="style != null and style != ''">
                AND style = #{style}
            </if>
            <if test="color != null and color != ''">
                AND color = #{color}
            </if>
        </where>
        ORDER BY
        <choose>
            <when test="sort == 'popular'">
                like_count DESC, view_count DESC, snap_id DESC
            </when>
            <when test="sort == 'views'">
                view_count DESC, snap_id DESC
            </when>
            <otherwise>
                snap_id DESC </otherwise>
        </choose>
    </select>

    <select id="getSnap" resultType="snap">
        SELECT * FROM snaps WHERE snap_id = #{snap_id}
    </select>

    <update id="updateSnap" parameterType="snap">
        UPDATE snaps
        <set>
            snap_title = #{snap_title},
            category = #{category},
            style = #{style},
            color = #{color},
            price = #{price},
            <if test="coord_image != null">
                coord_image = #{coord_image},
            </if>
            <if test="product_image != null">
                product_image = #{product_image},
            </if>
        </set>
        WHERE snap_id = #{snap_id}
    </update>

    <update id="countSnap">
        UPDATE snaps SET
                        view_count = view_count+1
        WHERE snap_id = #{snap_id}
    </update>

    <delete id="deleteSnap">
        DELETE FROM snaps WHERE snap_id = #{snap_id}
    </delete>

    <update id="likeSnap">
        UPDATE snaps SET
            like_count = like_count + 1
        WHERE snap_id = #{snap_id}
    </update>

    <!-- 최신 스냅 6개 -->
    <select id="getRecentSnaps" resultType="snap">
        SELECT * FROM snaps
        ORDER BY snap_id DESC
            LIMIT 6
    </select>

    <!-- 인기 스냅 4개 (좋아요 순) -->
    <select id="getPopularSnaps" resultType="snap">
        SELECT * FROM snaps
        ORDER BY like_count DESC, view_count DESC
            LIMIT 4
    </select>

</mapper>